	<footer id="footer" class="top-space">
		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow us</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
                                                                <a href="https://blog.butterproject.org"><i class="fa fa-blogger fa-2"></i></a>
                                                                <a href="https://www.reddit.com/r/ButterProject/"><i class="fa fa-reddit fa-2"></i></a>
								<a href="https://twitter.com/butterproject"><i class="fa fa-twitter fa-2"></i></a>
								<a href="https://facebook.com/butterprojectorg"><i class="fa fa-facebook fa-2"></i></a>
								<a href="https://github.com/butterproject"><i class="fa fa-github fa-2"></i></a>
								<a href="https://plus.google.com/communities/111003619134556931561"><i class="fa fa-google-plus fa-2"></i></a>
							</p>	
						</div>
					</div>


					<div class="col-md-3 widget">
						<h3 class="widget-title"></h3>
						<div class="widget-body">
							<p></p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title"></h3>
						<div class="widget-body">
							<p></p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2015, Butter Project. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>

