<li><a href="https://butterproject.github.io/butter/blog/" title="Blog" target="_blank" class="blog">Blog</a></li>
<li><a href="https://butterproject.github.io/butter/discuss/" title="Forum" target="_blank" class="discourse">Forum</a></li>
<li><a href="https://twitter.com/butterproject" title="Twitter" target="_blank" class="twitter">Twitter</a></li>
<li><a href="https://www.facebook.com/ButterProjectOrg" title="Facebook" target="_blank" class="facebook">Facebook</a></li>
<li><a href="https://www.reddit.com/r/ButterProject/" title="Reddit" target="_blank" class="reddit">Reddit</a></li>
<li><a href="https://github.com/butterproject/" title="GitLab" target="_blank" class="gitlab">GitLab</a></li>