<div class="jumbotron top-space">
    <!-- container -->
    <div class="container" id="faq">

	<h2 class="text-center top-space">Frequently Asked Questions</h2>
	<br>

	<div class="row">
	    <div class="col-sm-6">
		<h3>100% copyright free?</h3>
		<p>Yes. The content comes from <a href="http://vodo.net">vodo.net</a>. All their content is licensed under some kind of Creative Commons license. We may add other sources, but it will always be under at least the same terms.</p>
	    </div>
	    <div class="col-sm-6">
		<h3>Do you accept donations?</h3>
		<p>
		    We're still setting up and didn't get that part sorted out, but if you really want to throw money at us: get in touch.
		</p>
	    </div>
	</div> <!-- /row -->

	<div class="row">
	    <div class="col-sm-6">
		<h3>Can I use your code for my own application?</h3>
		<p>
		    Yes, you can. Butter is designed for easy forking, you probably won't have to change the core a lot (if you do, send us the patches). Keep in mind that Butter is GPL so you'll have to follow the license in the repository. You're free to do whatever you want. We might even be able to help you.
		</p>
	    </div>
	    <div class="col-sm-6">
		<h3>How are you connected to Popcorn Time?</h3>
		<p>We grabbed the code. We at the Butter Project like to work on the underlaying technologies because that is what is cool. What others use it for is not our call. We're in for the fun.</p>
	    </div>
	</div> <!-- /row -->
    </div>	<!-- /container -->
</div>
