<!-- container -->
<div class="container" id="vision">

    <h2 class="text-center top-space thin">The groundbreaking vision</h2>
    <h4 class="text-center thin">A revolutionary way of gathering, sharing and watching video content</h4>
    <br><br>

    <div class="row">
        <div class="col-sm-1 h-caption">
            <h4><i class="fa fa-code-fork fa-5"></i></h4>
        </div>
        <div class="col-sm-11 h-body">
            <h4>Fill the void - <small>There is a lack of Open Source technologies to distribute video content efficiently</small></h4>
            <p>
                ? <strong>We live in a world of text, images and videos.</strong> They're everywhere. Open Source technologies to distribute text and images are common, but we lack the video equivalent.
                <br><br>
                > Being open is our core value. Our technology stack is packaged and documented, allowing the tech-savvy to be part of the deployment of world-class applications for their communities.
            </p>
        </div>
    </div><br>

    <div class="row">
        <div class="col-sm-1 h-caption">
            <h4><i class="fa fa-child fa-5"></i></h4>
        </div>
        <div class="col-sm-11 h-body">
            <h4>Empower people - <small>The current video distribution solutions are patented, expensive and require massive infrastructures</small></h4>
            <p>
                ? In contrast to the text-distribution revolution that built the Internet we all love, in the video world <strong>a few companies hold patents-locked technologies</strong> to position themselves as the exclusive <i>media curators</i>.
                <br><br>
                > Through peer-to-peer, our infrastructure costs shrink to zero as demand grows reverting the traditional growth paradigm. We have a zero trolling, censorship resistant, decentralized solution.
            </p>
        </div>
    </div><br>

    <div class="row">
        <div class="col-sm-1 h-caption">
            <h4><i class="fa fa-globe fa-5"></i></h4>
        </div>
        <div class="col-sm-11 h-body">
            <h4>Connect the world - <small>As content is moving to a 'global digital' state we're excluding poorly or not-at-all connected areas</small></h4>
            <p>
                ? Big media companies get to decide and influence how, when, where and what video is seen, destroying local contents in favor of global ones. Their centralized business models and technologies render popular content unavailable in remote areas: the cultural inclusion is bound to the Internet access, and <strong>the digital breach grows</strong>.
                <br><br>
                > Our user-owned technology makes the video content available in places with poor to no internet, we have working solutions working out of a $20 USD of-the-shelves wifi access point with a pendrive.
            </p>
        </div>
    </div><br>
</div>
<!-- /container -->
