<!-- container -->
<div class="container" id="vision">

    <h2 class="text-center top-space thin">The groundbreaking vision</h2>
    <h4 class="text-center thin">A revolutionary way of gathering, sharing and watching video content</h4>
    <br><br>

    <div class="row">
        <div class="col-sm-1 h-caption">
            <h4><i class="fa fa-code-fork fa-5"></i></h4>
        </div>
        <div class="col-sm-11 h-body">
            <span class="v-title">
                <h4>
                    Fill the void - 
                    <small>
                        There is a lack of Open Source technologies to distribute video content efficiently
                    </small>
                </h4>
            </span>
            <span class="v-fact">
                <strong>We live in a world of text, images and videos.</strong> They're everywhere. Open Source technologies to distribute text and images are common, but we lack the video equivalent.
            </span>
            <span class="v-counterfact">
                <i class="fa fa-hand-o-right">&nbsp;</i>
                We bring world-class, highly distributed and decentralized technologies to
                their limits.
            </span>
            <span class="v-counterfact">
                <i class="fa fa-hand-o-right">&nbsp;</i>
                Being open is our core value. Our technology stack is packaged and documented, allowing the tech-savvy to be part of the deployment of world-class applications for their communities.
            </span>
        </div>
    </div><br>

    <div class="row">
        <div class="col-sm-1 h-caption">
            <h4><i class="fa fa-child fa-5"></i></h4>
        </div>
        <div class="col-sm-11 h-body">
            <span class="v-title">
                <h4>
                    Empower people - 
                    <small>
                        The current video distribution solutions are patented, expensive and require massive infrastructures
                    </small>
                </h4>
            </span>
            <span class="v-fact">
                In contrast to the text-distribution revolution that built the Internet we all love, in the video world <strong>a few companies hold patents-locked technologies</strong> to position themselves as the exclusive media curators.
            </span>
            <span class="v-counterfact">
                <i class="fa fa-hand-o-right">&nbsp;</i>
                Through peer-to-peer, our infrastructure costs shrink to zero as demand grows reverting the traditional growth paradigm. We have a zero trolling, censorship resistant, decentralized solution.
            </span>
            <span class="v-counterfact">
                <i class="fa fa-hand-o-right">&nbsp;</i>
                We empower emerging societies and educational organisations to
                enter the video distribution race side-by-side to the biggest players by
                making user-focused tools to build solid VOD solutions, handling the whole
                media workflow with close-to-zero pre-required technical knowledge or
                infrastructures.
            </span>
        </div>
    </div><br>

    <div class="row">
        <div class="col-sm-1 h-caption">
            <h4><i class="fa fa-globe fa-5"></i></h4>
        </div>
        <div class="col-sm-11 h-body">
            <span class="v-title">
                <h4>
                    Connect the world - 
                    <small>
                       Content is moving to a 'global digital' state excluding poorly or not-at-all connected areas
                    </small>
                </h4>
            </span>
            <span class="v-fact">
                Big media companies get to decide and influence how, when, where and what video is seen, destroying local contents in favor of global ones. Their centralized business models and technologies render popular content unavailable in remote areas: the cultural inclusion is bound to the Internet access, and <strong>the digital breach grows</strong>.
            </span>
            <span class="v-counterfact">
                <i class="fa fa-hand-o-right">&nbsp;</i>
                Our user-owned technology makes the video content available in places with poor to no internet, we have working solutions working out of a $20 USD of-the-shelves wifi access point with a pendrive.
            </span>
            <span class="v-counterfact">
                <i class="fa fa-hand-o-right">&nbsp;</i>
                We've already proven that peer-to-peer technologies can be embedded in a
                complete product for a minimal human and monetary cost. We're working with
                Governments, NGOs, small ISPs and commercial networks to build a strong
                engaged community around our vision. We feel it’s very important for all
                participators to sense that the core idea of Butter makes inevitable the
                share of open-source code to many developers. Only together can we take
                Butter to the next level.
            </span>
        </div>
    </div><br>
</div>
<!-- /container -->
