<!-- Highlights - jumbotron --> 
<div class="jumbotron top-space">
    <div class="container" id="info">

        <h2 class="text-center thin">What is Butter?</h2>       

        <div class="row">
	    <div class="col-md-3 col-sm-6 highlight grow">
		<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Latest technologies</h4></div>
		<div class="h-body text-center">
		    <p>We use the top of the pop to build our stuff.</p>
		</div>
	    </div>
	    <div class="col-md-3 col-sm-6 highlight grow">
		<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Powerful</h4></div>
		<div class="h-body text-center">
		    <p>Flexible modular design to be used as a base for any streaming application</p>
		</div>
	    </div>
	    <div class="col-md-3 col-sm-6 highlight grow">
		<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Copyleft</h4></div>
		<div class="h-body text-center">
		    <p>All the content you get is as free as the source code, share the love.</p>
		</div>
	    </div>
	    <div class="col-md-3 col-sm-6 highlight grow">
		<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Open source</h4></div>
		<div class="h-body text-center">
		    <p>Get our code on GitHub and contribute.</p>
		</div>
	    </div>
	</div> <!-- /row  -->

    </div>
</div>
<!-- /Highlights -->
