<% var title = 'Watch movies and TV shows instantly!'; %>
<% include templates/header %>
<body lang="en" class="beta">
	<section id="header">
		<nav class="fixed-width">
			<a class="logo-link" href="https://butterproject.github.com/butter/"><h1 id="logo">Butter Project</h1></a>
			<ul class="social align-right">
				<% include templates/social %>
			</ul>

			<ul class="align-left">
				<li class="text"><a data-i18n="nav.faq" href="https://butterproject.github.com/butter/faq">FAQ</a></li>
				<li class="text"><a data-i18n="nav.tos" href="https://butterproject.github.com/butter/tos">TOS</a></li>
			</ul>

			<div class="align-left facebook-widget">
			    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FButterProjectOrg&amp;width&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=159481197468524" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</ul>
		</nav>

		<div class="text">
			<h2 data-i18n="header.beta.title">Watch Movies and TV Shows instantly</h2>
			<p data-i18n="header.beta.subtitle">Binaries are coming really soon now</p>
		</div>

		<ul id="links" style="display:none;">
			<li class="download dl-mac">
				<a data-i18n="[html]download.text" data-os="Mac" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.mac %>" class="btn-main icon-mac">Download Beta <%- data.meta.version.desktop %></a><br />
				<small><span data-i18n="download.mac">For Mac OSX 10.7 and above</span> <span class="divider">|</span> <a data-scroll data-i18n="download.platforms" href="#get-app">Other platforms</a></small>
			</li>
			<li class="download dl-win">
				<a data-i18n="[html]download.text" data-os="Windows" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.win %>" class="btn-main icon-win">Download Beta <%- data.meta.version.desktop %></a><br />
				<small><span data-i18n="download.windows">For Windows 7 and above</span> <span class="divider">|</span> <a data-scroll data-i18n="download.platforms" href="#get-app">Other platforms</a></small>
			</li>
			<li class="download dl-lin-32">
				<a data-i18n="[html]download.text" data-os="Linux 32" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.lin['32bit'] %>" class="btn-main icon-linux">Download Beta <%- data.meta.version.desktop %></a><br />
				<small><span data-i18n="download.linux32">For 32-bit Linux</span> <span class="divider">|</span> <a data-scroll data-i18n="download.platforms" href="#get-app">Other platforms</a></small>
			</li>
			<li class="download dl-lin-64">
				<a data-i18n="[html]download.text" data-os="Linux 64" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.lin['64bit'] %>" class="btn-main icon-linux">Download Beta <%- data.meta.version.desktop %></a><br />
				<small><span data-i18n="download.linux64">For 64-bit Linux</span> <span class="divider">|</span> <a data-scroll data-i18n="download.platforms" href="#get-app">Other platforms</a></small>
			</li>
			<li class="download dl-android">
				<a data-i18n="[html]download.text" data-os="Android" href="https://butterproject.github.com/butter/get/android/<%- data.meta.downloads.android %>" class="btn-main icon-android">Download Beta <%- data.meta.version.android %></a><br />
				<small><span data-i18n="download.android">For Android 4.0.3 and above</span> <span class="divider">|</span> <a data-scroll data-i18n="download.platforms" href="#get-app">Other platforms</a></small>
			</li>
		</ul>
	</section>
	<div class="container">
		<div class="warning">
			<img src="images/icon-warning.svg" alt="Warning!">
			<div class="text">
			    <span class="post-meta"><time datetime="2015-10-23">23 Oct 2015</time> </span>

			    <h1 class="post-title">What is Happening to us ?</h1>

			    <section class="post-content">
				<p>Making Popcorn Time has always been a big adventure and there have been confusions by developers and users alike about what could and couldn't be done with the App.</p>

				<p>Since we moved from github.com we've realized that made it much harder for new devs to contribute. We also understand that the particularities of the App could make some people cautious in sharing their skills with us, and boy do we love sharing !</p>

				<p>It's been almost a year that we have been having internal talks about how to mitigate this situation, a lot of ideas were thrown around. It has been a passionate and emotional debate but today we have decided to split the Popcorn Time project in 2:</p>

				<ul>
				    <li>on one hand popcorntime.io will continue to deliver the exact same experience to our beloved users.</li>
				    <li>on the other the butter team will operate in an absolutely clear legal framework to develop the best technology we can.</li>
				</ul>

				<h2 id="butteraidorgheadline1a">Butter ?<a id="orgheadline1"></a></h2>

				<p>This new project, hosted on <a href="https://github.com/butterproject/butter">GitHub</a>, is basically your beloved Popcorn Time stipped down of the parts that made people wary. Butter is created so that anyone can contribute to great desktop and mobile apps that allows to stream movies and shows from Bittorrent (and other sources, but more on that later) in a stylish and easy way.</p>

				<p>We hope to clear doubts in developers so that we can continue doing what we love: hacking a great experience for our users.</p>

				<p>Butter will be able to leverage all of the traditional Open Source internet infrastructure: it will have its own webpage at <a href="https://butterproject.org">https://butterproject.org</a>, its own twitter account @butterproject, its own facebook at <br>
				    <a href="https://fb.me/ButterProjectOrg">https://fb.me/ButterProjectOrg</a> and its own G+ here <a href="https://plus.google.com/communities/111003619134556931561">https://plus.google.com/communities/111003619134556931561</a> . We are making sure butter is absolutely not using the popcorntime.io infrastructure to make a clear separation of concerns.</p>

				<p>We're making Butter like any Open Source project: open governance by the contributors and easy to fork. Planing on making a Popcorn Time clone ? don't do it from scratch use some Butter to make it awesome !</p>

				<p>Not only an empty shell, we want to make Butter a great App if you want to stream independent cinema and tv shows. Right now all the content in Butter is provided by the amazing people at vodo.net but if you know of any other sources of this kind of content please send us an email or better yet some code !</p>

				<p>In a few days we should even have some binaries for you to try out !</p>

				<h2 id="whataboutpopcorntimeaidorgheadline2a">What about Popcorn Time ?<a id="orgheadline2"></a></h2>

				<p>Don't worry, <a href="https:/PopcornTime.io">https:/PopcornTime.io</a> will continue exactly as if nothing happened, it will still be Open Source, the code will still be hosted on our private Gitlab at <a href="https://git.popcorntime.io">https://git.popcorntime.io</a> and most importantly it will still have Pochoclin as a mascot and logo.</p>

				<p>Only that now it will now be based on Butter, so it's basically the same Popcorn Time you've learned to love but with this amazing new butter touch.</p>

				<h2 id="whataboutthemobileappsaidorgheadline3a">What about the mobile Apps ?<a id="orgheadline3"></a></h2>

				<p>The Apps teams are working at this very moment to get you the experience you love in Butter format. As it's a fair amount of work to clean them up, we could use some help ! have skills ? want to give a hand ? don't hesitate in contacting us !</p>

				<h2 id="sowhatsnextaidorgheadline4a">So what's next  ?<a id="orgheadline4"></a></h2>

				<p>Over the next few days we're going to finish porting all branches from the <a href="https://git.popcorntime.org">Popcorn Time git</a> to the Butter repos on Github, you can give us a hand or sit back and relax as history is happening.</p>

				<p>See you soon with more Buttered Popcorn Time for you folks !</p>
			    </section>
			</div>
		</div>
		<section id="features" style="display:none;">
			<div class="clear-fix">
				<article>
					<img src="images/icon-best.png" width="100" alt="Great Movies and TV Shows">
					<h5 data-i18n="features.greatmovies.title">Great Movies and TV Shows</h5>
					<p data-i18n="[html]features.greatmovies.text">We're constantly searching all over the web for the best torrents from the most important sites.</p>
				</article>

				<article>
					<img src="images/icon-watch.png" width="100" alt="No restrictions">
					<h5 data-i18n="features.restrictions.title">No restrictions</h5>
					<p data-i18n="[html]features.restrictions.text">Watch any movie or TV show as many times as you want. All you need to get started is a proper internet connection.</p>
				</article>

				<article>
					<img src="images/icon-search.png" width="100" alt="Awesome catalogue">
					<h5 data-i18n="features.catalogue.title">Awesome catalogue</h5>
					<p data-i18n="[html]features.catalogue.text">If the movie or TV show is out there, Butter will find the best version possible and start streaming it right away.</p>
				</article>

				<article>
					<img src="images/icon-subs.png" width="100" alt="The best quality">
					<h5 data-i18n="features.quality.title">The best quality</h5>
					<p data-i18n="[html]features.quality.text">Watch your movie or episode instantly in HD and with subtitles. And then keep watching.</p>
				</article>

				<div class="save-wrapper">
					<article>
						<img src="images/icon-save.png" width="100" alt="Save time for making popcorn">
						<h5 data-i18n="features.save.title">Save time for making popcorn</h5>
						<p data-i18n="[html]features.save.text">No wait or download time. Instant playback of your favorite movies and TV shows.</p>
					</article>
				</div>
			</div>

			<div class="align-center action">
				<img src="images/logo-valentines.png" alt="Pochoclin" class="align-center pochoclin">
				<hr />
				<h2 data-i18n="download.free">Best of all... it's free!</h2>
				<div class="download dl-mac">
					<a data-i18n="download.text" data-os="Mac" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.mac %>" class="btn-main icon-mac">Download Beta <%- data.meta.version.desktop %></a>
					<small data-i18n="download.mac">For Mac OSX 10.7 and above <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
				<div class="download dl-win">
					<a data-i18n="download.text" data-os="Windows" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.win %>" class="btn-main icon-win">Download Beta <%- data.meta.version.desktop %></a>
					<small data-i18n="download.windows">For Windows 7 and above <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
				<div class="download dl-lin-32">
					<a data-i18n="download.text" data-os="Linux 32" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.lin['32bit'] %>" class="btn-main icon-lin">Download Beta <%- data.meta.version.desktop %></a>
					<small data-i18n="download.linux32">For 32-bit Linux Users <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
				<div class="download dl-lin-64">
					<a data-i18n="download.text" data-os="Linux 64" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.lin['64bit'] %>" class="btn-main icon-lin">Download Beta <%- data.meta.version.desktop %></a>
					<small data-i18n="download.linux64">For 64-bit Linux Users <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
				<div class="download dl-android">
					<a data-i18n="download.text" data-os="Android" href="https://butterproject.github.com/butter/get/android/<%- data.meta.downloads.android %>" class="btn-main icon-android">Download Beta <%- data.meta.version.android %></a>
					<small data-i18n="download.android">For Android 4.0.3 and above <span class="divider">|</span> <a data-scroll href="#get-app">Other platforms</a></small>
				</div>
			</div>
		</section>

		<section id="how">
			<div class="limiter">
				<h2 data-i18n="how.title">Hard to believe?</h2>
				<h4 data-i18n="how.subtitle">See how easy it works...</h4>
				<ul class="steps">
					<li data-i18n="[html]how.open" class="how-open">Open Butter<br>and select a movie or episode</li>
					<li data-i18n="[html]how.select" class="how-subtitles">Select quality<br>and subtitles</li>
					<li data-i18n="[html]how.play" class="how-play">Click play<br>and enjoy!</li>
				</ul>
			</div>
		</section>

		<div class="container">
		    <div class="warning">
			<img src="images/icon-warning.svg" alt="Warning!">

		    <h5 data-i18n="warning.whatitdoes">Butter streams movies and TV shows from torrents</h5>
		    <p data-i18n="warning.copyright">But will never stream any copyrighted material ! not even slightly tainted one !</p>
		    </div>
		</div>

		<section id="get-app" data-version="<%- data.meta.version.desktop %>" data-version-android="<%- data.meta.version.android %>">
			<div class="text">
				<h2 data-i18n="get-app.new">A whole new way to watch movies and TV</h2>
				<p data-i18n="get-app.butter">Just take care of the popcorn and leave the rest to us.</p>
			</div>
			<ul id="platforms" class="platforms" style="display: none;">
				<li class="download mac icon-laptop">
					<a data-i18n="download.text" data-os="Mac" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.mac %>" class="btn-main icon-mac">Download Beta <%- data.meta.version.desktop %></a>
					<small data-i18n="download.mac">For Mac OSX 10.7 and above</small>
				</li>
				<li class="download win icon-screen">
					<a data-i18n="download.text" data-os="Windows" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.win %>" class="btn-main icon-win">Download Beta <%- data.meta.version.desktop %></a>
					<small data-i18n="download.windows">For Windows 7 and above</small>
				</li>
				<li class="download lin-32 lin-64 icon-window">
					<a data-i18n="download.text" data-os="Linux 32" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.lin['32bit'] %>" class="btn-main icon-linux">Download Beta <%- data.meta.version.desktop %></a>
					<small data-i18n="download.linux32">For 32-bit Linux</small>
					<a data-i18n="download.text" data-os="Linux 64" href="https://butterproject.github.com/butter/get/build/<%- data.meta.downloads.lin['64bit'] %>" class="btn-main icon-linux">Download Beta <%- data.meta.version.desktop %></a>
					<small data-i18n="download.linux64">For 64-bit Linux</small>
				</li>
				<li class="download android icon-mobile">
					<a data-i18n="download.text" data-os="Android" href="https://butterproject.github.com/butter/get/android/<%- data.meta.downloads.android %>" class="btn-main icon-android">Download Beta <%- data.meta.version.android %></a>
					<small data-i18n="download.android">For Android 4.0.3 and above</small>
				</li>
			</ul>
		</section>

		<section id="subscribe" style="display: none;">
			<h2 data-i18n="email.notified">Get notified when a new version is available</h2>
			<form action="https://reach.butterproject.org/" method="POST">
				<input type="email" name="email_address" data-i18n="[placeholder]email.placeholder" placeholder="Email Address">
				<input type="submit" name="subscribe" data-i18n="[value]email.subscribe" value="Subscribe">
			</form>
		</section>
		<% include templates/footer %>
</body>
</html>
